<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanrenspace.kakami.mapper.TenantInfoReactiveMapper">
    <resultMap id="BaseResultMap" type="com.lanrenspace.kakami.entity.TenantInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="admin_code" property="adminCode" jdbcType="VARCHAR"/>
        <result column="admin_account" property="adminAccount" jdbcType="VARCHAR"/>
        <result column="admin_name" property="adminName" jdbcType="VARCHAR"/>
        <result column="valid_flag" property="validFlag" jdbcType="BIGINT"/>
        <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR"/>
        <result column="tenant_name" property="tenantName" jdbcType="VARCHAR"/>
        <result column="logo_url" property="logoUrl" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_code" property="createCode" jdbcType="VARCHAR"/>
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_code" property="updateCode" jdbcType="VARCHAR"/>
        <result column="update_name" property="updateName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        select *
        from tenant_info
    </select>

    <insert id="insert" parameterType="com.lanrenspace.kakami.entity.TenantInfo">
        INSERT
        INTO `tenant_info`(`id`, `admin_code`, `admin_account`, `admin_name`, `valid_flag`, `tenant_code`,
                           `tenant_name`, `logo_url`, `description`, `audit_time`, `remark`, `delete_flag`,
                           `create_time`, `create_code`, `create_name`, `update_time`, `update_code`, `update_name`)
        VALUES (#{id}, #{adminCode}, #{adminAccount}, #{adminName}, #{validFlag}, #{tenantCode}, #{tenantName},
                #{logoUrl}, #{description},
                #{auditTime}, #{remark}, #{deleteFlag}, #{createTime}, #{createCode}, #{createName}, #{updateTime},
                #{updateCode},
                #{updateName});

    </insert>
</mapper>